Repository frequenz-floss/frequenz-reporting-python, pull requests merged in 2024-12, with the labels that each got.

#21 Add state duration extraction and alert filtering
  RELEASE_NOTES.md
  src/frequenz/reporting/_reporting.py
  tests/test_frequenz_reporting.py
Labels: part:docs, part:tests

#24 Update repo config
  .github/containers/test-installation/Dockerfile
  .github/labeler.yml
  pyproject.toml
Labels: part:tooling

#20 Change energy to use energy_consumed and energy_delivered
  RELEASE_NOTES.md
  src/frequenz/reporting/_reporting.py
Labels: part:docs

#26 Update release notes after release
  RELEASE_NOTES.md
Labels: part:docs
